### react template
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components

*.sublime*

psd
thumb
sketch

# npm
package-lock.json
npm-shrinkwrap.json
*.gz

# Coveralls
.nyc_output
coverage

# Benchmarking
benchmarks/graphs

#webstorm
.idea